doctype html
html
  head
    link(rel="stylesheet", type="text/css", href="/css/pure-min.css")
    link(rel="stylesheet", type="text/css", href="/css/main.css")
    script(src="/js/jquery.min.js")
    script(src="/js/main.js")
  body
    h1 #{titulo}
    .pure-g
      .pure-u-1-2
        form#valores.pure-form.pure-form-aligned(action="/historico-proceso/calcular")
          fieldset
            .pure-control-group
              label(for="datos") Datos
              textarea#datos(name="datos", rows="10", cols="20", placeholder="datos")
            .pure-controls#historico
              button#enviar.pure-button.pure-button-primary Calcular
              p
                a#test1.pure-button(href="#") Test 1
              p
                a#test2.pure-button(href="#") Test 2
              p
                a#test3.pure-button(href="#") Test 3
              p
                a#test4.pure-button(href="#") Test 4
      .pure-u-1-2
        #resultados
