doctype html
html
  head
    title #{titulo}
  body
    h1 Bienvenidos a #{titulo}
    h2 Seleccione la operación que desea realizar
    ul
      li
        a(href="/desviacion") Calcular la desviación estandard
      li
        a(href="/promedio") Calcular el promedio
      li
        a(href="/regresion-lineal") Calcular la regresión lineal