doctype html
html
  head
    link(rel="stylesheet", type="text/css", href="/css/pure-min.css")
    link(rel="stylesheet", type="text/css", href="/css/main.css")
  body
    h1 Tamaño relativo

    .pure-g
      each item, i in tRelativo
        each data, j in item
          .pure-u-1-2 #{data}
